{extend name="base" /}


{block name="body"}

<section>

    <div class="ztree" id="treeType"></div>

    <div class="form-group">
        <a style="margin: 0 45px;" class="layui-btn layui-btn-small auth" href="{:Url('auth',['id' => $id])}" title="授权">立即授权</a>
    </div>

</section>

{/block}

<!--页面JS脚本-->
{block name="js"}
{__block__}

<script src="{$Think.config.sys_config.lmx_static_url}/modules/admin/base/js/main.js?t={$Think.config.sys_config.lmx_version}"></script>

<link rel="stylesheet" href="{$Think.config.sys_config.lmx_static_url}/zTree_v3-master/css/zTreeStyle/zTreeStyle-01.css?t={$Think.config.sys_config.lmx_version}" type="text/css">

<script src="{$Think.config.sys_config.lmx_static_url}/zTree_v3-master/js/jquery.ztree.core.js?t={$Think.config.sys_config.lmx_version}"></script>
<script src="{$Think.config.sys_config.lmx_static_url}/zTree_v3-master/js/jquery.ztree.excheck.js?t={$Think.config.sys_config.lmx_version}"></script>
<script src="{$Think.config.sys_config.lmx_static_url}/zTree_v3-master/js/jquery.ztree.exedit.js?t={$Think.config.sys_config.lmx_version}"></script>

{/block}


<!--页面JS-->
{block name="script"}
{__block__}

<script>
    layui.use(['layer'], function(){

        var layer = layui.layer;

        zNodes = JSON.parse('{$rule_list}');  //将字符串转换成obj

        //设置zetree
        var setting = {
            check:{
                enable:true
            },
            data: {
                simpleData: {
                    enable: true
                }
            }
        };

        $.fn.zTree.init($("#treeType"), setting, zNodes);
        var zTree = $.fn.zTree.getZTreeObj("treeType");
        zTree.expandAll(true);

        // 确认授权
        $(".auth").click(function () {
            var $this = $(this);
            var zTree = $.fn.zTree.getZTreeObj("treeType");
            var nodes = zTree.getCheckedNodes(true);
            var data = new Array();
            $.each(nodes, function (n, value) {

                data.push(value.id);
            });

            $.post($this.attr('href'), {'data' : data}, function(res){

                layer.msg(res.msg);
                if(res.code == 1){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                }

            }, 'json')

            return false;
        })

    })
</script>

{/block}



