{extend name="base" /}


{block name="body"}

<section class="lmx-larry-box">

    <div class="lmx-wrapper">

        <div class="tab">

            <blockquote class="quote">
                <ul class="tab-title">
                    <li class="active">
                        <i class=""></i>
                        <span>角色管理</span>
                    </li>
                    <li class="">
                        <i class=""></i>
                        <span><a href="{:Url('add')}">添加角色</a></span>
                    </li>
                </ul>
            </blockquote>

        </div>

        <div class="list">

        </div>

    </div>


    <!--表格-->
    <div class="lmx-table">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col width="200">
                <col width="400">
                <col width="100">
                <col width="200">
            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th>角色名称</th>
                <th>角色描述</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='lists' id='vo'}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.remark}</td>
                <td>{$vo.status ? '<font color="red">√</font>' : '<font color="red">╳</font>'}</td>
                <td>
                    <a class="layui-btn layui-btn-small auth" href="{:Url('auth',['id' => $vo.id])}" title="授权"><i class="fa fa-street-view"></i></a>
                    <a class="layui-btn layui-btn-small" href="{:Url('edit',['id' => $vo.id])}" title="编辑"><i class="layui-icon">&#xe642;</i></a>
                    <a class="layui-btn layui-btn-small layui-btn-danger delete" href="{:Url('delete')}" data-id="{$vo.id}" title="删除"><i class="layui-icon">&#xe640;</i></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>

        <div class="page">
            {$lists->render()}
        </div>

    </div>


</section>

{/block}

<!--页面JS脚本-->
{block name="js"}
{__block__}

<script src="{$Think.config.sys_config.lmx_static_url}/modules/admin/base/js/main.js?t={$Think.config.sys_config.lmx_version}"></script>

<link rel="stylesheet" href="{$Think.config.sys_config.lmx_static_url}/zTree_v3-master/css/zTreeStyle/zTreeStyle.css?t={$Think.config.sys_config.lmx_version}" type="text/css">

<script src="{$Think.config.sys_config.lmx_static_url}/zTree_v3-master/js/jquery.ztree.core.js?t={$Think.config.sys_config.lmx_version}"></script>
<script src="{$Think.config.sys_config.lmx_static_url}/zTree_v3-master/js/jquery.ztree.excheck.js?t={$Think.config.sys_config.lmx_version}"></script>
<script src="{$Think.config.sys_config.lmx_static_url}/zTree_v3-master/js/jquery.ztree.exedit.js?t={$Think.config.sys_config.lmx_version}"></script>



{/block}


<!--页面JS-->
{block name="script"}
{__block__}

<script>
    layui.use(['layer'], function(){

        var layer = layui.layer;
        //授权
        $(".auth").click(function () {
            var $this = $(this);
            //加载层
            layer.open({
                type: 2,
                title: '角色授权',
                shadeClose: true,
                shade: 0.8,
                area: ['380px', '90%'],
                content: $this.attr('href') //iframe的url
            });

            return false;
        })

    })
</script>

{/block}



