{extend name="base" /}


{block name="body"}

<section class="lmx-larry-box">

    <div class="lmx-wrapper">

        <div class="tab">

            <blockquote class="quote">
                <ul class="tab-title">
                    <li class="active">
                        <i class=""></i>
                        <span>幻灯片管理</span>
                    </li>
                    <li class="">
                        <i class=""></i>
                        <span><a href="{:Url('add')}">添加幻灯片</a></span>
                    </li>
                </ul>
            </blockquote>

        </div>

        <div class="list">

        </div>

    </div>

    <!--搜索-->
    <div class="lmx-search">
        <form class="form-search" id="theForm" method="get" action="">
            <div class="layui-form-item"  style="margin-bottom:0px;">
                <!--分类-->
                分类：
                <select name="cid" style="display: inline;vertical-align: middle;border: 1px solid #ccc;height: 38px;width: 120px;">
                    <option value="">请选择</option>
                    {volist name='cat_lists' id='vo'}
                    <option value="{$vo.id}" {if condition="$cid eq $vo.id"}selected{/if}>{$vo.name}</option>
                    {/volist}
                </select>
                <button class="layui-btn" lay-submit="" lay-filter="theForm">搜索</button>
            </div>
        </form>
    </div>

    <!--表格-->
    <div class="lmx-table">
        <table class="layui-table">
            <colgroup>
                <col width="50">
                <col width="50">
                <col width="400">
                <col width="300">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="130">
            </colgroup>
            <thead>
            <tr>
                <th>排序</th>
                <th>编号</th>
                <th>标题</th>
                <th>描述</th>
                <th>链接</th>
                <th>图片</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='lists' id='vo'}
            <tr>
                <td>{$vo.listorder}</td>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$vo.des}</td>
                <td>{$vo.url}</td>
                <td><img src="{$vo.pic|sp_get_image_preview_url}" width="100" height="100"></td>
                <td>{$vo.status? '<font color="red">√</font>' : '<font color="red">╳</font>'}</td>
                <td>
                    <a class="layui-btn layui-btn-small" href="{:Url('edit',['id' => $vo.id])}" title="编辑"><i class="layui-icon">&#xe642;</i></a>
                    <a class="layui-btn layui-btn-small layui-btn-danger delete" href="{:Url('delete')}" data-id="{$vo.id}" title="删除"><i class="layui-icon">&#xe640;</i></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>

        <div class="page">
            {$lists->render()}
        </div>

    </div>


</section>

{/block}


<!--页面JS脚本-->
{block name="js"}
{__block__}

<script src="{:sp_get_asset_static_path()}/modules/admin/base/js/main.js?t={:sp_get_static_version()}"></script>


{/block}