{extend name="base" /}


{block name="body"}

<section class="lmx-larry-box">

    <div class="lmx-wrapper">

        <div class="tab">

            <blockquote class="quote">
                <ul class="tab-title">
                    <li class="active">
                        <i class=""></i>
                        <span>后台菜单</span>
                    </li>
                    <li class="">
                        <i class=""></i>
                        <span><a href="{:Url('add')}">添加菜单</a></span>
                    </li>
                </ul>
            </blockquote>

        </div>

        <div class="list">

        </div>

    </div>



    <!--表格-->
    <div class="lmx-table">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="300">
                <col width="300">
                <col width="100">
                <col width="100">
                <col width="220">
            </colgroup>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>排序</th>
                    <th>名称</th>
                    <th>链接</th>
                    <th>状态</th>
                    <th>自动更新</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {volist name='lists' id='vo'}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.listorder}</td>
                        <td>{$vo.title_show}</td>
                        <td>{$vo.app}/{$vo.model}/{$vo.action}</td>
                        <td>{$vo.status? '<font color="red">√</font>' : '<font color="red">╳</font>'}</td>
                        <td>{$vo.is_update? '是' : '否'}</td>
                        <td>
                            <a class="layui-btn layui-btn-small" href="{:Url('add',['parent_id' => $vo.id])}" title="添加子菜单"><i class="layui-icon">&#xe608;</i></a>
                            <a class="layui-btn layui-btn-small" href="{:Url('edit',['id' => $vo.id])}" title="编辑"><i class="layui-icon">&#xe642;</i></a>
                            <a class="layui-btn layui-btn-small layui-btn-danger delete" href="{:Url('delete')}" data-id="{$vo.id}" title="删除"><i class="layui-icon">&#xe640;</i></a>
                        </td>
                    </tr>
                {/volist}
            </tbody>
        </table>


    </div>


</section>

{/block}


<!--页面JS脚本-->
{block name="js"}
{__block__}

<script src="{:sp_get_asset_static_path()}/modules/admin/base/js/main.js?t={:sp_get_static_version()}"></script>


{/block}



