{extend name="base" /}


{block name="body"}

<section class="lmx-larry-box">

    <div class="lmx-wrapper">

        <div class="tab">

            <blockquote class="quote">
                <ul class="tab-title">
                    <li class="active">
                        <i class=""></i>
                        <span>本站用户</span>
                    </li>
                </ul>
            </blockquote>

        </div>

        <div class="list">

        </div>

    </div>

    <!--搜索-->
    <div class="lmx-search">
        <form class="form-search" method="get" action="">
            <div class="layui-form-item">
                用户ID：
                <input type="text" name="id" placeholder="请输入用户ID" value="{$id}" autocomplete="off" class="search-input layui-input">
                关键字：
                <input type="text" name="kwd" placeholder="用户名/昵称/邮箱" value="{$kwd}" autocomplete="off" class="search-input layui-input">
                <button class="layui-btn" lay-submit="" lay-filter="theForm">搜索</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </form>
    </div>


    <!--表格-->
    <div class="lmx-table">
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col width="200">
                <col width="200">
                <col width="200">
                <col width="250">
                <col width="250">
                <col width="250">
                <col width="250">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>昵称</th>
                <th>头像</th>
                <th>邮箱</th>
                <th>注册时间</th>
                <th>最后登录时间</th>
                <th>最后登录ip</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='lists' id='vo'}
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.user_name}</td>
                    <td>{$vo.user_nicename}</td>
                    <td>{$vo.avatar}</td>
                    <td>{$vo.user_email}</td>
                    <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                    <td>{$vo.last_login_time|date='Y-m-d H:i:s',###}</td>
                    <td>{$vo.last_login_ip}</td>
                    <td>{$vo.user_status}</td>
                    <td>
                        <!--<a class="layui-btn layui-btn-small" href="#" data-id="{$vo.id}" onclick="alert('此功能待完善')" >拉黑</a>-->
                    </td>
                </tr>
            {/volist}
            </tbody>
        </table>

        <div class="page">
            {$lists->render()}
        </div>

    </div>


</section>

{/block}


